@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cascadia Code';
    src: url('assets/fonts/CascadiaCode.ttf')
}

@keyframes customPulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.85;
    }
}

.animate-customPulse {
    animation: customPulse 1.5s infinite;
}